{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}登录{% endblock %}
{% block content %}

<div class="container" style="margin-top: 40px;">

    <div class="text-center">
        <h1>{{ ext_config.get('site_title', '') }} <span class="lead">考试系统</span></h1>
    </div>
</div>

<div class="form-center">

    <form action="{{ url_for("api.login") }}" method="post" data-data-type="json">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.code) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember_me) }}

        <button type="button" class="btn btn-block btn-primary" data-type="submit">登录</button>
    </form>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/form.js") }}"></script>
    <script>
    $("form").form().handle({
        validators: {
            "code": $.validators.required("请填写学号"),
            "password": $.validators.required("请填写密码")
        },

        ajax: {
            error: function (xhr, textStatus, error) {
                console.error(textStatus, error);
            },
            success: function (data, textStatus) {
                console.log(textStatus, data);
                window.location.href = data.data.redirect_to || "/";
            }
        },

        error: function (errors, data) {
            this.errors(errors);
        }
    });
    </script>
{% endblock %}
